* {
    margin: 0;
    font-family: Arial;
}

a:link {
    color: #000000;
    text-decoration: none;
    transition: 200ms;
}
a:visited {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #404040;
    text-decoration: underline;
}
a:active {
    color: #707070;
    text-decoration: underline;
}

.bodyclass {
    background-color: #e4e5e7;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.headr {
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3), inset 0px -10px 10px -10px rgba(0,0,0,0.3);
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    user-select: none;
}

.logo {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    align-items: center;
}

.burger {
    width: 7vh;
    height: 7vh;
    margin-right: 1vw;
    cursor: pointer;
}

.navpanel {
    min-height: 8vh;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-left: solid silver 1px;
    border-collapse: separate;
}
.navbtn {
    border-right: solid silver 1px;
    transition: 60s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.navbtn:hover {
    box-shadow: inset 0px -10px 15px -5px rgba(0,0,0,0.25);
    background-color: #fefefe;
    transition: 100ms;
}
.navbtn:active {
    box-shadow: inset 0px -10px 15px -3px rgba(0,0,0,0.3);
    background-color: #f7f7f7;
    transition: 100ms;
}

.navbtn-active {
    box-shadow: inset 0px -10px 15px -3px rgba(0,0,0,0.3);
    background-color: #f0f0f0;
    transition: 100ms;
}

.contact {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    column-gap: 1vw;
    align-items: center;
    justify-items: center;
    padding-right: 0.5vw;
}
.contact-img{
    padding: 0.5vw;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 1vh;
    transition: 300ms;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}
.contact-img:hover {
    border: 1px solid silver;
}

.banner {
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
    min-height: 300px;
    background-color: #f7f7f7;
    margin-top: 40px
}

.main-content {
    margin-top: 4vh;
    display: grid;
    grid-template-columns: 5fr 2fr;
    column-gap: 1.5vw;
}

.left-aside, .content {
    box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.3);
    background-color: white;
    padding: 2vh;
    border-radius: 1vh;
}

.content {
    padding-left: 3vw;
}

.left-aside {
    padding-left: 1vw;
    padding-right: 1vw;
}
