{% extends 'main/base.html' %}

{% block title %}О компании - СтильСтрой-Гарант{% endblock %}

{% block content %}

<h2>О компании</h2>

<p>Компания « СтильСтрой-Гарант» оперативно доставляет и профессионально монтирует противопожарные и металлические двери, люки, ворота; двери и преграды специального назначения: рентгенозащитные, звукоизоляционные, пуленепробиваемые и сейфовые двери и преграды. Вашему вниманию большой выбор светопрозрачных противопожарных дверей и конструкций. Вся продукция российского производства!</p>

<p>Услугами по производству и монтажу нашей продукции довольны:</p>
<ul>
    <li>Торговый Дом ИркутскЭнергоТрейд</li>
    <li>Улан-Удэнский авиаремонтный завод</li>
    <li>ИркутскСтройГрад</li>
    <li>НУЗ «Дорожная клиническая больница на ст. Иркутск - Пассажирский ОАО РЖД»</li>
    <li>РОУ УМЦ ООП Республики Бурятия</li>
    <li>Иркутская ремонтная компания</li>
    <li>ГБУЗ «Областной онкологический диспансер»</li>
    <li>Востокнефтепровод</li>
    <li>БГУЭП и многие другие постоянные заказчики</li>
</ul>

<p>Кроме того, мы рады предложить Вам комплектацию сборных заказов любой номенклатуры, в том числе:</p>

<ul>
    <li>металлопрокат (включая нержавеющую и спец сталь)</li>
    <li>любые стройматериалы, промышленная химия для строительства и производства</li>
    <li>климатическая техника (системы бытового кондиционирования, вентиляции, отопления, водоснабжения, канализации, вентиляции)</li>
    <li>крепеж</li>
    <li>кабельная продукция</li>
    <li>свето- и электротехника</li>
    <li>спецодежда</li>
    <li>противопожарное оборудование</li>
</ul>

<p>Быстро, качественно, на совесть!!!</p>

<p>Наша работа - Ваше процветание!!!</p>

<h4>Наши преимущества</h4>
<p>Мы предлагаем лучшее. Качество товаров сертифицировано по ГОСТ и ТУ. Профессиональный монтаж. Для Вас постоянное наличие на складе и гибкая система скидок!</p>

<h4>Общие сведения</h4>
<p>Компания ООО СтильСтрой-Гарант - Производитель, Услуги и сервис, Оптовый продавец, Дилер</p>
<p>Компания ООО СтильСтрой-Гарант основана в 2008 году.</p>
{% endblock %}